# Default ignored files
/shelf/
/workspace.xml
/libraries/MicroPython.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/uPyOTA.iml
/vcs.xml
